body {
  text-align: center;
}

#btn-panel {
  width: 500px;
  margin: 0 auto;
}

.display {
  margin-bottom: 50px;
  background-color: silver;
}

#root {
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  width: 100px;
  height: 70px;
}
